[submodule "3rdparty/gemmi"]
	path = 3rdparty/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/libcint"]
	path = 3rdparty/libcint
	url = https://github.com/sunqm/libcint
