name: Build python wheels

on:
  push:
    tags: "v*"
  pull_request:
  workflow_dispatch:
    inputs:
      upload_to_pypi:
        description: 'Upload to PyPI after building'
        required: false
        type: boolean
        default: false

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        pyver: [cp310, cp311, cp312, cp313]

    steps:
      - name: Checkout repos
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        env:
          CIBW_BUILD: ${{matrix.pyver}}-*
          CIBW_ARCHS_LINUX: auto64
          CIBW_ARCHS_MACOS: auto64 universal2
          CIBW_ARCHS_WINDOWS: auto64
          CIBW_BUILD_FRONTEND: "build[uv]"
          CIBW_TEST_SKIP: ${{matrix.pyver}}-*

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: occpy-${{ matrix.os }}-${{ matrix.pyver }}

  build_pyodide_wheel:
    name: Build wheel for pyodide
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - uses: pypa/cibuildwheel@v3.1.4
        env:
           CIBW_PLATFORM: pyodide
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: wasm-occpy-pyodide

  upload_all:
    runs-on: ubuntu-latest
    needs: build_wheels
    environment:
      name: pypi
      url: https://pypi.org/p/occpy/
    permissions:
      id-token: write
    if: (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) || (github.event_name == 'workflow_dispatch' && inputs.upload_to_pypi)
    steps:
    - uses: actions/download-artifact@v5
      with:
        path: dist
        pattern: occpy-*
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@release/v1
